.btn {
	display: inline-block;
	position: relative;
	padding: 1rem;
	transition: all 300ms;
	border: none;
	font-family: var(--accent-font);
	font-weight: 400;
	text-align: center;
	cursor: pointer;

	@media (max-width: 430px) {
		padding: 0.6rem;
	}

	&.wide {
		width: 100%;
	}

	&.primary {
		background-color: var(--black);
		color: var(--light-text);

		&:hover,
		&:focus {
			background-color: var(--gray-dark);
		}

		&:disabled {
			opacity: 0.7;
			background-color: var(--gray-dark);
			color: var(--gray-light);
			pointer-events: none;
		}
	}

	&.ghost {
		background-color: var(--dark-bg);
		color: black;
		font-weight: 500;

		&:hover,
		&:focus {
			background-color: #D5D5D5;
		}
	}

	&.plain {
		padding: 4px;
		background: none;
		color: var(--black);

		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			transform: scaleX(0);
			transform-origin: bottom right;
			transition: transform 200ms ease-out;
			background-color: var(--black);
		}

		&:hover,
		&:focus,
		&.active {
			&::after {
				transform: scaleX(1);
				transform-origin: bottom left;
			}
		}
	}

	&.s {
		font-size: 0.875rem;
	}

	&.m {
		font-size: 1rem;
	}

	&.l {
		font-size: 1.125rem;
	}
}

// Preloader:
.loader {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 2rem;
	height: 2rem;
	margin: auto;
	animation: spin 1.5s linear infinite;
	border: 4px solid #EDEDED;
	border-top: 4px solid #424242;
	border-radius: 50%;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.hidden {
	visibility: hidden;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
	opacity: 0;
}
