.card {
	display: flex;
	flex-shrink: 0;
	margin-bottom: 1rem;
	overflow: hidden;

	&Img {
		flex-shrink: 0;
	}

	&Text {
		margin-left: 0.5rem;
	}

	&Name {
		margin-bottom: 0.5rem;
		color: var(--semi-black);
		font-family: Oswald, sans-serif;
		font-weight: 600;
		line-height: 1.1;
		text-transform: uppercase;
	}

	&Amount {
		color: var(--gray-dark);
		font-size: 0.875rem;
	}
}
