.container {
	display: grid;
	grid-template-columns: 1fr auto;
}

.content {
	overflow: auto;
  	scrollbar-width: none;
  	-ms-overflow-style: none;

	&::-webkit-scrollbar {
		display: none;
	}
}

.scrollbar {
	position: relative;

	&Bar {
		position: relative;
		height: 100%;  /* must have some height */
		width: 0.3rem; /* must have some width */
	}

	&Track {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 0.3rem;
		cursor: pointer;
		background-color: var(--gray-light);
	}

	&Indicator {
		position: absolute;
		width: 0.3rem;
		border-radius: 3px;
		background-color: var(--gray);
	}
}