.form {
	display: flex;
	align-items: center;
	padding: 10px 17px;
	border: 1px solid var(--gray-light);

	input {
		border: none;
		outline: none;
		background: transparent;
		color: var(--semi-black);
		font-size: 1rem;
		line-height: 1.5;

		&::placeholder {
			color: var(--gray);
		}
	}

	button {
		display: flex;
		align-items: center;

		svg {
			transition: fill 300ms;
			fill: var(--gray-light);
		}

		&:hover {
			svg {
				fill: var(--gray);
			}
		}
	}
}
