.form {
        padding: 10px 17px;
        display: flex;
        align-items: center;
        border: 1px solid var(--gray-light);

        input {
            font-size: 1rem;
            line-height: 1.5;
            outline: none;
            border: none;
            background: transparent;
            color: var(--semi-black);

            &::placeholder {
            color: var(--gray);
            }
        }

        button {
            display: flex;
            align-items: center;
            svg {
                fill: var(--gray-light);
                transition: fill 300ms;
            }

            &:hover {
                svg {
                    fill: var(--gray);
                }
            }
        }
    }
