.controls {
	display: flex;
	align-items: center;
	justify-content: center;

	&Incr,
	&Decr,
	&Amount,
	&Clear {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		margin-left: 0.5rem;
		padding: 5px;
		border-radius: 50%;
		font-size: 18px;
		font-weight: 700;
	}

	&Incr,
	&Decr {
		background-color: var(--dark-bg);
	}
}
