@import "../../styles/rem";

.cards {
	display: grid;
	bottom: rem(200);
	grid-auto-flow: dense;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	margin-top: rem(50);
	gap: rem(38);

	&Big {
		grid-column: span 2;
		grid-row: span 2;
		margin: 40px;
		justify-self: center;
	}

	&NotFound {
		grid-column: span 3;
	}

	@media (max-width: 1060px) {
		&Big {
			margin: 10px;
		}
	}

	@media (max-width: 540px) {
		&Big {
			grid-column: auto;
			grid-row: auto;
		}

		grid-template-columns: 1fr;
		gap: rem(20);
	}
}
