@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?tysr0r');
  src: url('fonts/icomoon.eot?tysr0r#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tysr0r') format('truetype'),
    url('fonts/icomoon.woff?tysr0r') format('woff'),
    url('fonts/icomoon.svg?tysr0r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"]::after, [class*=" icon-"]::after {

  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clear::after {
  content: "\e906";
}
.icon-arr_left::after {
  content: "\e900";
}
.icon-arr_right::after {
  content: "\e901";
}
.icon-arr-exp::after {
  content: "\e902";
}
.icon-arr-exp_fill::after {
  content: "\e903";
}
.icon-card::after {
  content: "\e904";
}
.icon-circle_arrow::after {
  content: "\e905";
}
.icon-compare::after {
  content: "\e907";
}
.icon-credit-card::after {
  content: "\e908";
}
.icon-heart::after {
  content: "\e909";
}
.icon-heart_fill::after {
  content: "\e90a";
}
.icon-profile::after {
  content: "\e90b";
}
.icon-search::after {
  content: "\e90c";
}
