.card {
	padding: 1.375rem 0 2.4375rem;
	border-bottom: 1px solid var(--dark-bg);
	font-family: var(--main-font);

	&Wrapper {
		display: flex;
	}

	&Img {
		flex-shrink: 0;
		cursor: pointer;
	}

	&Info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-top: 20px;
		padding-left: 20px;
	}

	&Title {
		margin-bottom: 0.8125rem;
		color: var(--semi-black);
		font-family: Oswald, sans-serif;
		font-size: 1.125rem;
		font-weight: 700;
		letter-spacing: 0.04rem;
		line-height: 1.1;
		text-transform: uppercase;
	}

	&Description {
		margin-bottom: 0.5rem;
		color: var(--gray-medium);
		font-size: 1rem;
		line-height: 1.1;
	}

	&Body {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&Price {
		color: var(--semi-black);
		font-weight: 700;
	}

	&PriceOld {
		margin-right: 1.25rem;
		color: var(--gray-light);
		text-decoration: line-through;
	}

	&ControlsWrapper {
		display: flex;
		align-items: center;
	}

	@media (max-width: 470px) {
		padding: 1rem 0;

		&Wrapper {
			flex-direction: column;
		}

		&Title {
			font-size: 1rem;
		}

		&Info {
			padding-top: 5px;
			padding-left: 0;
		}
	}
}
