.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 400px;
	font-family: var(--accent-font);

	&Info {
		display: grid;
		grid-template-columns: 1fr auto;
		width: 100%;
		margin-top: 1.5rem;
	}

	&Title {
		grid-column: 1 / 3;
		margin-bottom: 1rem;
		color: var(--semi-black);
		font-size: 1.375rem;
		font-weight: 700;
		line-height: 1.5rem;
		text-transform: uppercase;
	}

	&PriceWrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&Price {
		margin-right: 0.5rem;
		color: var(--accent-dark);
		font-size: 1.2rem;
		font-weight: 700;
	}

	@media (max-width: 760px) {
		&Info {
			margin-top: 0.625rem;
		}

		&Title {
			margin-bottom: 0.5rem;
			font-size: 1.125rem;
		}
	}

	@media (max-width: 430px) {
		&Info {
			margin-top: 0.3125rem;
		}

		&Title {
			margin-bottom: 0.5rem;
			font-size: 1rem;
		}

		&Price {
			font-size: 1rem;
		}
	}
}
