.header {
	display: flex;

	&Step {
		margin-right: 2.5rem;
		font-size: 1.875rem;
		line-height: 2;
	}

	&Title {
		margin: 0;
		font-size: 1.875rem;
		font-weight: 500;
		line-height: 2;
	}

	@media (max-width: 430px) {
		flex-direction: column;

		&Step {
			line-height: 1;
		}
	}
}
