.header {
	display: flex;

	&Step {
	font-size: 1.875rem;
	line-height: 2;
	margin-right: 2.5rem;
	}

	&Title {
		margin: 0;
		font-weight: 500;
		font-size: 1.875rem;
		line-height: 2;
	}

	@media (max-width: 430px) {
       flex-direction: column;
	   
	   	&Step {
			line-height: 1;
		}
    }
}


