@import "../../styles/rem";

.footer {
	&Container {
		display: grid;
		grid-template-areas:
			"contacts . catalog . info . social"
			". . catalog . info . ."
			". . catalog pay pay pay pay"
			"copy copy . privacy privacy privacy privacy";
		grid-template-columns: repeat(3, auto 1fr) auto;
		align-items: flex-start;
		padding-top: rem(30);
		padding-bottom: rem(30);
		gap: 2rem;

		@media (max-width: 1060px) {
			grid-template-areas:
				"contacts catalog info"
				"copy catalog social"
				"pay pay ."
				"privacy privacy privacy ";
			grid-template-columns: repeat(3, 1fr);
		}

		@media (max-width: 760px) {
			grid-template-areas:
				"catalog catalog"
				"info info"
				"social social"
				"pay pay"
				"contacts copy"
				"privacy privacy";
			grid-template-columns: repeat(2, 1fr);
		}

		@media (max-width: 424px) {
			grid-template-areas:
				"catalog"
				"info"
				"social"
				"pay"
				"contacts"
				"copy"
				"privacy";
			grid-template-columns: 1fr;
			gap: 1.2rem;
		}
	}

	&Title {
		margin-bottom: rem(8);
		font-size: rem(22);
		line-height: 1.5;
	}

	&Contacts {
		grid-area: contacts;
	}

	&Copyright,
	&Privacy {
		color: var(--gray);
		line-height: 1.5;

		span {
			color: var(--black);
		}
	}

	&Info {
		grid-area: info;
	}

	&Catalog {
		grid-area: catalog;
	}

	&Payments {
		grid-area: pay;
		justify-self: flex-end;

		@media (max-width: 1060px) {
			justify-self: flex-start;
		}

		@media (max-width: 424px) {
			margin: 0 -5px;
		}
	}

	&Socials {
		grid-area: social;
	}

	&Copyright {
		grid-area: copy;
		align-self: flex-end;
	}

	&Privacy {
		grid-area: privacy;
		align-self: flex-end;
		text-align: right;

		@media (max-width: 1060px) {
			text-align: left;
		}
	}
}
