@import '../../styles/rem.scss';

.footer {
    &Container {
        display: grid;
        grid-template-columns: [start]auto 1fr [catstart]auto[catend]1fr [infostart]auto[infoend]1fr[socstart]auto[end];
        grid-template-rows: [start]auto auto auto auto[end];
        align-items: flex-start;
        gap: 2rem;
        padding-top: rem(30);
        padding-bottom: rem(30);
    }

    &Copyright,&Privacy {
        line-height: 1.5;
        color: var(--gray);

        span {
            color: var(--black);
        }
    }

    &Info, &Catalog {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    &Info {
        grid-column: infostart / infoend;
        grid-row: start / 3;
    }

    &Catalog {
        grid-column: catstart / catend;
        grid-row: start / end ;
    }

    &Payments {
        grid-column: infostart / end;
    }

    &Socials {
        grid-column: socstart / end;    
    }

    &Copyright {
        grid-column: start / catstart;
        grid-row: 4 / end;    
    }

    &Privacy {
        align-self: flex-end;
        grid-column: infostart / end; 
        grid-row: 4 / end;
        text-align: right;
    }
}