.delivery {
	font-family: var(--accent-font);
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5;

	&Title {
		font-weight: 700;
	}
}

.rules {
	h4 {
		margin: 0;
	}

	ol > li {
		margin-bottom: 2.5rem;
		padding-left: 1.875rem;
		font-weight: 700;

		p {
			font-weight: 400;
		}

		@media (max-width: 760px) {
			margin-bottom: 1.875rem;
			padding-left: 0.3125rem;
		}
	}

	&Controls {
		display: flex;
		gap: 1.4375rem;
		padding: 1.625rem 0;

		@media (max-width: 430px) {
			padding: 0.3125rem 0 0.625rem;
		}
	}

	&Delivery {
		padding: 1.25rem 0 3.75rem 0.9375rem;

		@media (max-width: 760px) {
			padding: 0.625rem 0 1.25rem 0.9375rem;
		}
	}

	&Receiving {
		padding: 1.25rem 0 3.75rem 2.8125rem;

		h4 {
			margin-bottom: 1rem;
		}

		@media (max-width: 760px) {
			padding: 0.625rem 0 1.25rem;
		}
	}

	&SubTitle {
		font-family: var(--accent-font);
		font-size: 1rem;
		font-weight: 500;
		line-height: 1.5;
	}

	&SubList {
		margin-top: 1rem;
		margin-bottom: 2rem;
		color: var(--gray);
	}
}
