.pickTitle {
	margin-bottom: 1.5rem;
	font-size: 2rem;
	font-weight: 700;
}

.pickList {
	button {
		transition: color 300ms;
		font-size: 1.125rem;
		line-height: 2;

		&:hover,
		&:focus {
			color: var(--accent-dark);
		}
	}
}
