.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	min-height: 555px;
	background:
		url("../../assets/images/mail_img_c.jpg") left no-repeat,
		url("../../assets/images/mail_bg.jpg") right/auto 100% no-repeat;

	@media (max-width: 620px) {
		grid-template-columns: 1fr;
		background: url("../../assets/images/mail_img_c.jpg") center no-repeat;
	}

	@media (max-width: 430px) {
		min-height: 370px;
	}
}

.formContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.form {
	display: flex;
	grid-column: 2 / 3;
	flex-direction: column;
	align-self: center;
	justify-content: center;
	max-width: 600px;
	height: 100%;
	padding: 3.375rem;
	background-color: var(--dark-bg);
	color: var(--gray-dark);
	font-family: var(--accent-font);
	font-size: 1.375rem;
	font-weight: 500;
	line-height: 1.3;
	justify-self: flex-start;

	&Title {
		margin-bottom: 1.25rem;
		color: var(--black);
		font-size: 2.75rem;
		font-weight: 700;
		line-height: 1.1;
	}

	&Input {
		margin-top: 2rem;
		margin-bottom: 1.5rem;

		input {
			font-size: 1.375rem;
		}
	}

	&Btn {
		font-size: 1.375rem !important;
	}

	&Alert {
		margin-top: 0.5rem;
	}

	@media (max-width: 620px) {
		max-width: 100%;
		height: fit-content;
		justify-self: stretch;
		padding: 2.875rem;
		font-size: 1.125rem;

		&Title {
			margin-bottom: .625rem;
			font-size: 2.375rem;
		}
	}

	@media (max-width: 430px) {
		padding: 1.5rem;

		&Title {
			font-size: 1.25rem;
		}

		&Btn {
			font-size: 1.125rem !important;
		}
	}
}
