.message {
	position: relative;
	overflow: hidden;
	font-size: 1rem;
	line-height: 1.3;

	&Content {
		margin: 1.5rem;
		overflow: hidden;
	}

	&Title {
		margin-bottom: 0.5rem;
		font-size: 1.2rem;
		font-weight: 500;
	}

	&Close {
		position: absolute;
		top: 0.5rem;
		right: 0.3rem;
		border: none;

		&:hover,
		&:focus {
			transform: scale(1.2);
		}
	}
}

.warning {
	background-color: #FFC0C0;
	color: #632727;
}

.success {
	background-color: #CFF0DD;
	color: #07381C;
}
