.product {
	display: grid;
	grid-template-columns: minmax(200px, 550px) minmax(300px, auto);
	gap: 2rem;
	justify-items: flex-start;
	padding-bottom: 3rem;

	&Img {
		height: 100%;
		margin: auto;
	}

	@media (max-width: 680px) {
		grid-template-columns: 1fr;
		gap: 1rem;
	}
}

.info {
	display: flex;
	flex-direction: column;
	font-family: var(--accent-font);

	h1 {
		font-weight: 800;
	}

	&Name,
	&Art,
	&Vol,
	&Price {
		margin-bottom: 1rem;
	}

	&Title {
		color: var(--accent-pale);
		font-family: var(--accent-font);
	}

	&Art {
		color: var(--gray-light);
		font-size: 0.875rem;
		line-height: 2;
	}

	&Vol {
		span {
			display: inline-block;
			margin-right: 0.5rem;
			padding: 0.5rem;
			border: 1px solid black;
		}
	}

	&Price {
		display: flex;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1.5;

		&Old {
			display: flex;
			flex-direction: column;
			justify-content: center;
			color: var(--gray-light);

			&Price {
				text-decoration: line-through;
			}
		}

		&New {
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-right: 1rem;
		}

		&OldText {
			color: var(--gray-light);
			font-size: 0.75rem;
			font-weight: 500;
			line-height: 1.5;
		}

		&NewText {
			color: var(--accent-pale);
			font-size: 0.75rem;
			font-weight: 500;
			line-height: 1.5;
		}
	}

	&Btns {
		display: flex;
		justify-content: flex-start;
		margin-top: 2rem;

		button {
			margin-right: 1.875rem;
		}
	}

	&FavBtn {
		padding-right: 15px;
		padding-left: 15px;
	}

	@media (max-width: 860px) {
		padding-bottom: 2rem;

		&Name,
		&Art,
		&Vol,
		&Price,
		&Title {
			margin-bottom: 0.5rem;
		}

		&Title {
			font-size: 1.7rem;
		}
	}

	@media (max-width: 680px) {
		&Title {
			font-size: 1.5rem;
		}
	}
}
