.contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 1rem;
	color: var(--gray);

	a {
		font-size: 1.375rem;
		font-weight: 700;
		line-height: 1.2;
	}
}
