@import "../../styles/rem";

.contacts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	gap: 1rem;
	color: var(--gray);

	a {
		font-size: rem(22);
		font-weight: 700;
		line-height: 1.2;
	}
}
