.iconBtn {
	display: flex;
	align-items: center;
	padding: 6px;
	transition: all 300ms;
	border: none;
	background-color: transparent;
	cursor: pointer;

	&:disabled {
		opacity: 0.3;
		pointer-events: none;

		svg {
			transition: all 300ms;
			fill: var(--gray-light);

			path {
				transition: all 300ms;
				fill: var(--gray-light);
			}
		}
	}

	&.light {
		svg {
			transition: all 300ms;
			fill: var(--black);

			path {
				transition: all 300ms;
				fill: var(--black);
			}
		}
	}

	&.dark {
		background-color: var(--black);

		svg {
			transition: all 300ms;
			fill: var(--bg);

			path {
				transition: all 300ms;
				fill: var(--bg);
			}
		}
	}

	&.light:hover,
	&.light:focus {
		svg {
			transition: all 300ms;
			fill: var(--accent-dark);

			path {
				transition: all 300ms;
				fill: var(--accent-dark);
			}
		}
	}

	&.dark:hover,
	&.dark:focus {
		background-color: var(--gray-dark);
	}
}
