.auth {
	max-width: 480px;
	margin: 0 auto;

	&Nav {
		margin-bottom: 2rem;
		border-bottom: 1px solid #C4C4C4;

		@media (max-width: 430px) {
			margin-bottom: 1rem;
		}
	}

	&Btn {
		position: relative;
		margin-right: 2rem;
		padding-bottom: 0.5rem;
		font-family: var(--accent-font);
		font-size: 1.2rem;
		line-height: 1.5;

		.activeLine {
			display: block;
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 100%;
			height: 3px;
			border-radius: 2px;
			background-color: var(--accent-dark);
		}
	}
}
