.pagination {
	display: flex;
	align-items: center;
	justify-content: center;

	&Prev,
	&Next {
		display: flex;
		align-items: center;
		padding: 0.5rem;
		color: var(---black);
		font-size: 1.2rem;

		&:disabled {
			color: var(--gray-light);
			pointer-events: none;
		}
	}

	&Pages {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		margin: 0 1rem;
	}

	&Page {
		margin: 0.5rem;
		color: var(---black);
		font-family: var(--accent-font);
		font-size: 1.1rem;
		font-weight: 500;

		&_active {
			color: var(--accent-dark);
			font-weight: 600;
		}
	}

	&Dots {
		padding: 0;
		color: var(---black);
		font-weight: 600;
		letter-spacing: 5px;
	}

	@media (max-width: 760px) {
		&Prev,
		&Next {
			padding: 0.2em;
		}

		&Page {
			margin: 0.3rem;
			font-size: 1rem;
		}
	}
}
