.advantages {
	max-width: 635px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: var(--accent-font);
	font-weight: 500;
	font-size: .875rem;
	line-height: 1.5;

	&Item {
		margin-right: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;

		&:last-child {
			margin-right: 0;
		}

		span {
			margin-left:.8125rem;
		}
	}

	&Img {
		flex-shrink: 0;
	}

	@media (max-width: 680px) {
		flex-direction: column;
		align-items: start;
	}
}
