.bonus {
	&Card {
		margin-bottom: 1rem;
		font-size: 1.3rem;
		font-weight: 700;
		line-height: 1.5;
	}

	&Points {
		margin-bottom: 4rem;
		color: var(--semi-black);
		font-size: 1.2rem;

		span {
			color: var(--accent-dark);
		}
	}

	&Rules {
		p {
			margin-bottom: 0.5rem;
		}
	}

	&Disclaimer {
		color: var(--gray);
		font-size: 0.9rem;
	}
}
