.badge {
	display: inline-block;
	padding: 1rem 2rem;
	color: var(--semi-black);
	font-family: var(--accent-font);
	text-align: left;

	&.plain {
		border: 1px solid rgba($color: #000, $alpha: 20%);
	}

	&.accent {
		background-color: var(--accent-bright);
		color: #FFF;
		font-family: var(--main-font);
	}

	&.gray {
		background-color: var(--dark-bg);
	}

	&.s {
		padding: 0.8rem;
		font-size: 10px;
		font-weight: 700;
	}

	&.m {
		font-size: 1rem;
		font-weight: 400;
		line-height: 150%;
	}

	&.l {
		font-size: 1.2rem;
		font-weight: 500;
		line-height: 150%;
	}
}
