.wrapper {
	input[type="checkbox"] {
		width: 1px;
		height: 1px;
		border: 0;
		padding: 0;
		opacity: 0;
		clip: rect(0 0 0 0);
		overflow: hidden;
	}
}

.check {
	display: flex;
}

.checkFake {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	margin-right: 1rem;
	width: 1.1rem;
	height: 1.1rem;
	border-radius: 3px;
	border: 1px solid var(--gray);
	background-color: var(--dark-bg);
	transition: all 300ms;

	svg {
		width: 0.9rem;
		height: 0.9rem;
		fill: #fff;
	}

	&_error {
		background-color: var(--invalid);
		border: 1px solid var(--warning);
	}

	&_checked {
		background-color: var(--semi-black);
		border: 1px solid var(--semi-black);

		svg {
			 animation: bounce;
			 animation-duration: 500ms;
			 animation-fill-mode: forwards;
		}
	}
}

@keyframes bounce {
    20% {
        transform: scale(1.2);
    }
    35% {
        transform: scale(1);
    }
	65% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}