.discounts {
	position: relative;
	margin-bottom: 50px;

	&Bonus {
		display: flex;
		justify-content: space-between;
		margin-bottom: 0.5rem;
		color: var(--gray);
		font-size: 14px;
		line-height: 2;

		span {
			color: var(--semi-black);
			font-weight: 600;
		}
	}

	&Field {
		margin-bottom: 0.5rem;
	}

	&Message {
		overflow: hidden;
		color: var(--accent-dark);
		font-size: 0.9rem;
		line-height: 1.5;

		div {
			overflow: hidden;
		}
	}

	@media (max-width: 620px) {
		&Message {
			right: 0;
		}
	}
}
