.club {
	display: grid;
	grid-template-columns: 650px 1fr;
	column-gap: 5.125rem;

	@media (max-width: 1720px) {
		grid-template-columns: 400px 1fr;
		column-gap: 3.25rem;
	}

	@media (max-width: 1060px) {
		grid-template-columns: 257px 1fr;
		column-gap: 2rem;
	}

	@media (max-width: 900px) {
		grid-template-columns: 1fr;

		&Img {
			display: none;
		}
	}
}

.clubInfo {
	padding-right: 12.5rem;
	padding-bottom: 3.25rem;
	color: var(--gray);
	font-size: 16px;
	line-height: 1.5;

	h2 {
		margin-bottom: 1.25rem;
		color: var(--black);
		font-size: 22px;
		font-weight: 500;
		line-height: 1.5;
	}

	h3 {
		color: var(--black);
		font-size: 16px;
		line-height: 1.5;
	}

	&AccentText {
		color: var(--black);
	}

	&Reg {
		display: flex;
		gap: 5rem;
	}

	@media (max-width: 1720px) {
		padding-right: 3.125rem;

		&Reg {
			gap: 1.875rem;
		}
	}

	@media (max-width: 760px) {
		padding-right: 0;

		&Reg {
			flex-direction: column;
			gap: 0.625rem;
		}
	}
}
