:root {
	--bg: #FFF;
	--dark-bg: #F3F3F3;
	--accent-bright: #FF3465;
	--accent-dark: #CC4C6E;
	--accent-light: #F287AB;
	--accent-pale: #D785A1;
	--light-text: #FFFBFB;
    --black: #000;
	--semi-black: #1d1d1d;
    --gray-dark: #4E4E4E;
    --gray-medium: #5C5C66;
    --gray: #828282;
    --gray-light: #BCBCBC;
	
    //fonts: 
	--main-font: 'Roboto', sans-serif;
	--accent-font: 'Red Hat Display', sans-serif;
}