.tab {
	&Header {
		border-bottom: 1px solid #c4c4c4;
		margin-bottom: 2rem;
		font-family: var(--accent-font);
		font-size: 1.2rem;
		line-height: 1.5;
		padding-bottom: 0.5rem;
		margin-right: 2rem;

		@media (max-width: 430px) {
			margin-bottom: 1rem;
		}
	}
}